<template>
  <div class="middle">
    <div class="buttons">
      <div class="button_all-here" @click="setAlltrue">
        <span>Отметить всех</span>
      </div>
      <div class="button__clear" @click="setAllfalse">
        <span>Отменить выделенное</span>
      </div>
    </div>
    <div class="list">
      <div class="list__name" v-for="(names, index) in namelist" :key="index">
        <div class="checking-info">
          <label :for="`check_here${index}`" class="student-name">
            {{names.student_name}}
          </label>
          <div class="checkboxes">
            <input type="checkbox" class="check_reader" v-model="names.status" :name="`check${index}`" :id="`check_here${index}`">
            <label :for="`check_here${index}`" class="check__here" > </label>
          </div>
        </div>
        <hr class="cute-line">
      </div>
    </div>
    <div class="button__ready">
      <span>Отправить</span>
    </div>
  </div>
</template>

<style scoped>
  *{
    margin: 0;
    padding: 0;
    font-family: roboto;
  }
  .middle{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .buttons{
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
  }
  .button_all-here{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #466AC7;
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 41px;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
  }
  .button__clear{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #466AC7;
    color: white;
    border-radius: 5px;
    width: 190px;
    height: 41px;
    user-select: none;
    cursor: pointer;
  }
  .button__ready{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #466AC7;
    color: white;
    border-radius: 5px;
    width: 110px;
    height: 41px;
    user-select: none;
    cursor: pointer;
    margin-top: 20px;
  }
  .list{
    overflow-y: scroll;
    height: 80%;
  }
  .list__name{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 41px;
    margin-bottom: 11px;
  }
  .checking-info{
    display: flex;
    justify-content: space-between;
  }
  .student-name{
    font-size: 20px;
    cursor: pointer;
  }
  .checkboxes{
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
  }
  .check_reader{
    display: none;
  }
  .check__here{
    cursor: pointer;
    user-select: none;
    width: 20px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px grey;
    border-radius: 5px;
    transition: linear 0.15s;
  }
  .check__here::after{
    content: "✓";
  }
  .check__here:hover{
    background-color: lightgrey;
  }
  .check_reader:checked + label{
    background-color: #68C746;
  }
  .cute-line{
    width: 90%;
    background-color: #e4e4e4;
    height: 1px;
    border-radius: 21px;
    border: none;
    margin-top: 10px;
  }
</style>

<script>
export default {
  data:() =>({
        namelist: [{
          student_name: "София Борисова",
          status: false
        },
        {
          student_name: "Даниил Горбачев",
          status: false
        },
        {
          student_name: "Валерия Григорьева",
          status: false
        },
        {
          student_name: "Кира Дроздова",
          status: false
        },
        {
          student_name: "Анна Евдокимова",
          status: false
        },
        {
          student_name: "Степан Зуев",
          status: false
        },
        {
          student_name: "Алексей Игнатов",
          status: false
        },
        {
          student_name: "Елизавета Кондратьева",
          status: false
        },
        {
          student_name: "Андрей Кузнецов",
          status: false
        },
        {
          student_name: "Сергей Кулаков",
          status: false
        },
        {
          student_name: "Василиса Парфенова",
          status: false
        },
        {
          student_name: "Ярослав Петров",
          status: false
        },
        {
          student_name: "Леон Семенов",
          status: false
        },
        {
          student_name: "Александр Сергеев",
          status: false
        },
        {
          student_name: "Илья Сергеев",
          status: false
        },
        {
          student_name: "Ева Смирнова",
          status: false
        },
        {
          student_name: "София Соловьева",
          status: false
        },
        {
          student_name: "Вероника Терехова",
          status: false
        },
        {
          student_name: "Виктория Швецова",
          status: false
        },
        {
          student_name: "Константин Яковлев",
          status: false
        }
        ]
    }),
  methods: {
    setAlltrue(){
      for (var i = 0; i < this.namelist.length; i++){
        this.namelist[i].status = true;
      }
    },
    setAllfalse(){
      for (var i = 0; i < this.namelist.length; i++){
        this.namelist[i].status = false;
      }
    },
  },
}
</script>

