<template>
    <div class="middle">
        <p class="middle__text">Вы еще не распределили студентов по подгруппам</p>
        <div @click="modalact = true" class="middle__button">Распределить</div>
        <div class="darkback" v-if="modalact == true">
            <div class="modal-window">
                <p class="modal-window__title">Распределение</p>
                <div class="dragdrop">
                    <div class="name-group">
                        <draggable class="dragdrop__smt" :list="myArray" group="people">
                            <div class="dragdrop__item" v-for="(element, index) in myArray" :key="index">
                                {{element}}
                            </div>
                        </draggable>
                    </div>
                    <div class="polosa">
                        <img src="../assets/img/polosa.png" alt="">
                        <div class="arrows">
                            <img class="arrow" src="../assets/img/ArrowRight.png" alt="">
                            <img class="arrow" src="../assets/img/ArrowLeft.png" alt="">
                        </div>
                    </div>
                    <div class="name-group">
                        <draggable class="dragdrop__smt" :list="myArray1" group="people">
                            <div class="dragdrop__item" v-for="(element, index) in myArray1" :key="index">
                                {{element}}
                            </div>
                        </draggable>
                    </div>
                </div>
                <div class="modal-window__button" @click="modalact = false; sendGroups(myArray, myArray1)" >
                    Готово
                </div>
            </div>
        </div>
    </div>
</template>


<style scoped>
    .middle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 125px;
    }
    .middle__text{
        font-family: roboto;
        font-size: 32px;
        color: black;
    }
    .middle__button{
        width: 170px;
        height: 56px;
        background-color: #466AC7;
        font-family: roboto;
        font-size: 18px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s ease;
    }
    .middle__button:hover{
        opacity: 0.85;
    }
    .darkback{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 227;
        background-color: rgba(0, 0, 0, 0.36);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-window{
        width: 976px;
        height: 700px;
        position: fixed;
        top: 162px;
        z-index: 228;
        background-color: white;
        box-shadow: 0 0 40px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .modal-window__title{
        font-family: roboto;
        font-size: 24px;
    }
    .dragdrop{
        display: flex;
        width: 850px;
        height: 417px;  
    }
    .dragdrop__smt{
        width: 353px;
        height: 350px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 44px);

    }
    .name-group{
        width: 353px;
        height: 350px;
    }
    .polosa{
        width: 144px;
        display: flex;
        justify-content: center;
        user-select: none;
    }
    .arrows{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40%;
    }
    .dragdrop__item{
        width: 163px;
        height: 31px;
        background-color: #466AC7;
        font-family: roboto;
        font-size: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 13px;
        user-select: none;
    }
    .modal-window__button{
        width: 170px;
        height: 56px;
        background-color: #466AC7;
        font-family: roboto;
        font-size: 18px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s ease;
    }
    .modal-window__button:hover{
        opacity: 0.85;
    }
</style>


<script>
import draggable from 'vuedraggable'
export default {
    components: {
        draggable,
    },
    data: () => ({
      modalact: false,
      myArray: [
          "Абрамов Денис",
          "Беляев Даниил",
          "Громова Маргарита",
          "Дорофеев Макар",
          "Ефимов Демид",
          "Зуев Матвей",
          "Исаева Вероника",
          "Кузьмина Дарья",
          "Максимова Евгения",
          "Никулин Иван",
          "Носков Марк",
          "Островская Яна",
          "Павлов Максим",
          "Павлова Екатерина",
          "Петрова Виктория",
          "Рудакова Анастасия",
          "Смирнов Илья",
          "Смирнов Матвей"
      ],
      myArray1: [

      ],
    }),
    methods: {
        sendGroups(group1, group2){
            console.log(group1);
            console.log(group2);
        }
    }
}
</script>