<template>
  <div class="middle">
    <table>
        <tr class="table-header">
            <th class="pair-names">
                Название предмета
            </th>
            <th class="visit-count">
                Кол-во посещений
            </th>
        </tr>
        <tr v-for="(pair_names, index) in results.lessons_status" :key="`pair_name${index}`">
            <td class="pair-name">
                {{pair_names.lesson_name}}
            </td>
            <td class="student-results">
                <div class="progress__bar">
                    <span class="progress__bar-text">{{visitScorer(pair_names)}} из {{pair_names.checked_dates.length}}</span>
                    <div   :class="{'box-red progress__bar-status ': visitScorer(pair_names) < pair_names.checked_dates.length / 3,
                        'box-green progress__bar-status': visitScorer(pair_names) >  pair_names.checked_dates.length / 2,
                        'box-yellow progress__bar-status': visitScorer(pair_names) <  pair_names.checked_dates.length / 2 && visitScorer(pair_names) > pair_names.checked_dates.length / 3}" 
                        :style="{width: percentScorer(pair_names)+'%'}">
                        
                    </div>
                </div>
            </td>
        </tr>
    </table>

  </div>
</template>

<script>
export default {
    data:() =>({
        results:{
            student_name: "София Борисова",
            lessons_status:[
                {
                    lesson_name: "Основы web-программирования",
                    checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 1
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                        ]
                },
                {
                    lesson_name: "Системы реального времени",
                    checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 1
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                        ]
                },
                {
                    lesson_name: " Средства разработки прикладного программного обеспечения",
                    checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 1
                            },
                            {
                                date: 250321,
                                status: 1
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 1
                            },
                            {
                                date: 300321,
                                status: 1
                            },
                        ]
                },
                {
                    lesson_name: "Разработка программного обеспечения для решения прикладных задач",
                    checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 0
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 1
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                        ]
                },
            ]
        }

    }),
    methods: {
        visitScorer(val){
            var vis_count = 0;
            for (let index = 0; index < val.checked_dates.length; index++) {
                if (val.checked_dates[index].status == 1) {
                    vis_count++;
                }
            }
            return vis_count;
        },
        percentScorer(val){
            var percent = (100 / val.checked_dates.length) * this.visitScorer(val);
            return percent;
        }
    }
}
</script>

<style scoped>
    .middle{
        height: 100%;
        font-family: roboto;
    }
    table{
        border-spacing: 0px;
        width: 1200px;
    }
    th,tr,td{
        border: solid lightgrey 1px;
    }
    .table-header{
        background-color: #466AC7;
    }
    .pair-names{
        width: 325px;
        height: 46px;
        font-size: 18px;
        color: white;
    }
    .pair-name{
        width: 305px;
        height: 70px;
        padding: 0 0 0 20px;
        font-size: 16px;
    }
    .visit-count{
        font-size: 18px;
        color: white;
    }
    .student-results{
        height: 70px;
        width: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progress__bar{
        height: 30px;
        width: 90%;
        background-color: lightgray;
        position: relative;
    }
    .progress__bar-status{
        height: 30px;
        font-size: 16px;
        position: absolute;
        z-index: 10;
    }
    .box-red {
        background-color: rgb(253, 84, 84);
    }
    .box-green {
        background-color: rgb(85, 187, 85);   
    }
    .box-yellow {
        background-color: rgb(252, 215, 112);
    }
    .progress__bar-text{
        z-index: 11;
        position: absolute;
        left: 50%;
        padding: 5px;
    }

</style>