<template>
  <div class="middle">
      <div class="outer">
        <div class="inner">
            <table>
                <tr class="table_head">
                    <th class="fio">ФИО</th>
                    <th v-for="(item, index) in students[0].checked_dates" :key="'date_'+index">
                        {{getDate(item.date)}}
                    </th>
                </tr>
                <tr v-for="(item, index) in students" :key="'student_'+index">
                    <td class="student_names">
                        {{item.student_name}}
                    </td>
                    <td 
                    v-for="(item2, index2) in item.checked_dates" 
                    :key="'student_date'+index2" 
                    :class="`td_back${item2.status}`"
                    @click="updateStatus(item2.status, index, index2)"
                    @contextmenu.prevent="updateStatusIll(item2.status, index, index2)" 
                    :style="{cursor: upd ? 'pointer': 'default' }"
                    >
                        <span class="here" v-if="item2.status == 0">П</span>
                        <span class="nothere" v-else-if="item2.status == 1">Н</span>
                        <span class="wasill" v-else-if="item2.status == 2">Б</span>
                    </td>
                </tr>
            </table>
        </div>
      </div>
      <div class="upd__buttons">
        <div v-if="!upd" @click="upd = true" class="button__upd">
          Изменить
        </div>
        <div v-else @click="upd = false" class="button__upd" :style="{'background-color': '#468832'}">
            Готово
        </div>
      </div>
  </div>
</template>

<script>
export default {
    data:() =>({
            students: [
                     {
                        student_name: "София Борисова",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 1
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                        ]
                     },
                     {
                        student_name: "Даниил Горбачев",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 1
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 1
                            },
                            {
                                date: 300321,
                                status: 1
                            },
                        ]
                     },
                     {
                        student_name: "Валерия Григорьева",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 1
                            },
                            ]
                     },
                     {
                        student_name: "Кира Дроздова",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Анна Евдокимова",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 1
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 1
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                        ]
                     },
                     {
                        student_name: "Степан Зуев",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 1
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 1
                            },
                        ]
                     },
                     {
                        student_name: "Алексей Игнатов",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 1
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 1
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                        ]
                     },
                     {
                        student_name: "Елизавета Кондратьева",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 1
                            },
                            {
                                date: 300321,
                                status: 1
                            },
                            ]
                     },
                     {
                        student_name: "Андрей Кузнецов",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 1
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                        ]
                     },
                     {
                        student_name: "Сергей Кулаков",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Василиса Парфенова",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 0
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 0
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Ярослав Петров",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 0
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 0
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 1
                            },
                            ]
                     },
                     {
                        student_name: "Леон Семенов",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 0
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 0
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 1
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Александр Сергеев",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 0
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 0
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Илья Сергеев",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Ева Смирнова",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "София Соловьева",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 0
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 0
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Вероника Терехова",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Виктория Швецова",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 0
                            },
                            {
                                date: 200321,
                                status: 1
                            },
                            {
                                date: 210321,
                                status: 1
                            },
                            {
                                date: 220321,
                                status: 0
                            },
                            {
                                date: 230321,
                                status: 1
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 1
                            },
                            {
                                date: 270321,
                                status: 1
                            },
                            {
                                date: 280321,
                                status: 0
                            },
                            {
                                date: 290321,
                                status: 0
                            },
                            {
                                date: 300321,
                                status: 0
                            },
                            ]
                     },
                     {
                        student_name: "Константин Яковлев",
                        checked_dates: [
                            {
                                date: 190321,
                                status: 1
                            },
                            {
                                date: 200321,
                                status: 0
                            },
                            {
                                date: 210321,
                                status: 0
                            },
                            {
                                date: 220321,
                                status: 1
                            },
                            {
                                date: 230321,
                                status: 0
                            },
                            {
                                date: 240321,
                                status: 0
                            },
                            {
                                date: 250321,
                                status: 0
                            },
                            {
                                date: 260321,
                                status: 0
                            },
                            {
                                date: 270321,
                                status: 0
                            },
                            {
                                date: 280321,
                                status: 1
                            },
                            {
                                date: 290321,
                                status: 1
                            },
                            {
                                date: 300321,
                                status: 1
                            },
                            ]
                     }
            ],
            upd: false,
    }),
    methods: {
        getDate(val){
            return this.$moment(val, 'DDMMYY').format("DD.MM.YY")
        },
        updateStatus(status, index, index2){
            if (this.upd && status) {
                this.students[index].checked_dates[index2].status = 0;
            }
            else if(this.upd && !status){
                this.students[index].checked_dates[index2].status = 1;
            }
        },
        updateStatusIll(status, index, index2){
            if (this.upd && status) {
                this.students[index].checked_dates[index2].status = 2;
            }
            else if (this.upd && !status) {
                this.students[index].checked_dates[index2].status = 2;
            }
        }
    }
}
</script>

<style scoped>
    .td_back0{
        background-color: #F4FFF0;
    }
    .td_back1{
        background-color: #FFE7E7;
    }
    .td_back2{
        background-color: #daf2ff;
    }
    .here{
        color: #30B900;
    }
    .nothere{
        color: red;
    }
    .wasill{
        color: #008BD9;
    }
    .middle{
        height: 100%;
        font-family: roboto;
    }
    .outer{
        position: relative;
    }
    .inner{
        overflow-x: scroll;
        overflow-y: visible;
        width: 1200px;
        margin-left: 222px;
    }
    table{
        border-spacing: 0px;
    }
    .fio{
        background-color: #466AC7;
        height: 25px;
        padding: 5px 10px 0 10px;
        position: absolute;
        width: 200px;
        left: 0;
    }
    .student_names{
        position: absolute;
        width: 200px;
        left: 0;
    }
    th{
        padding: 0 10px 0 10px;
        user-select: none;
    }
    td{
        text-align: center;
        padding: 5px 10px 0 10px;
        height: 32px;
        user-select: none;
    }
    th,tr,td{
        border: solid lightgrey 1px;
    }
    .table_head{
        background-color: #466AC7;
        color: white;
        height: 32px;
        font-size: 18px;
        
    }
    .upd__buttons{
        display: flex;
    }
    .button__upd{
        background-color: #466AC7;
        padding: 18px 5px 0 5px;
        text-align: center;
        color: white;
        border-radius: 5px;
        width: 110px;
        height: 35px;
        user-select: none;
        cursor: pointer;
    }

</style>