<template>
  <div id="app">
    <header class="header">
      <div class="title">
        <p class="title__text">1182б/1 - Машинное обучение</p>
      </div>
    </header>
    <main class="main">
      <router-view></router-view>
    </main>
  </div>
</template>

<style>
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header{
  width: 100%;
  height: 100px;
}
.title{
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title__text{
  font-family: roboto;
  font-size: 24px;
  color: black;
}    
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 824px;
  margin-left: auto;
  margin-right: auto;
  }

</style>


<script>
import fill_please from './views/fill_please.vue'

export default {
  components: { fill_please },
    data: () => ({
      primer: null,
      // raspisanie: {
      //   group_number: '1182б',
      //   lessons:[
      //     {
      //       les_time_start: "12:30",
      //       les_time_end:"14:05",
      //       les_name: "Средства разработки прикладного программного обеспечения",
      //       lil_group: "2",
      //       teacher: "Усманов Р.Т"
      //     },
      //     {
      //       les_time_start: "14:35",
      //       les_time_end:"16:10",
      //       les_name: "Разработка программного обеспечения для решения прикладных задач",
      //       lil_group: "2",
      //       teacher: "Шицелов А.В."
      //     },
      //     {
      //       les_time_start: "18:05",
      //       les_time_end:"19:40",
      //       les_name: "Разработка программного обеспечения для решения прикладных задач",
      //       lil_group: "1",
      //       teacher: "Шицелов А.В."
      //     }
      //   ]
      // }
    }),
}
</script>
